/* Eric Meyer's CSS Reset */
/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "NeoSansPro-Regular.ttf"; */
@font-face {
    font-family: "NeoSansPro-Regular";
    src: url("../fonts/NeoSans/NeoSansPro-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "NeoSansPro-Bold.ttf"; */
@font-face {
    font-family: "NeoSansPro-Bold";
    src: url("../fonts/NeoSans/NeoSansPro-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "NeoSansPro-Bold.ttf"; */
@font-face {
    font-family: "NeoSansPro-Italic";
    src: url("../fonts/NeoSans/NeoSansPro-Italic.ttf");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "NeoSansPro-Light.ttf"; */
@font-face {
    font-family: "NeoSansPro-Italic";
    src: url("../fonts/NeoSans/NeoSansPro-Light.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face{
	font-family:'u2000';
	src:url("../fonts/u2000.eot");
	src:url("../fonts/u2000.eot?#iefix") format("embedded-opentype"), 
	    url("../fonts/u2000.woff") format("woff"),
		url("../fonts/u2000.ttf") format("truetype"),
		url("../fonts/u2000.svg#universaliaregular") format("svg");
	font-weight:normal;
	font-style:normal;
}
.currency{ font-family:u2000 }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tfoot, thead, th, 
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

tr, td, tbody {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align:auto;
}
.vb {
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
label { display: inline-block; }
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
nav ul { list-style:none; margin:0; padding:0; }

body {
	font: normal 12px/18px PTSansRegular;
	width:100%;
	color:#95acbc;
	background-color:#22405a;
}
body .not-sidebar{
	font: normal 12px/18px NeoSansPro-Regular;
}
body .not-sidebar b{
	font: normal 12px/18px NeoSansPro-Bold;
}
a { cursor: pointer; }
input { font-family:PTSansRegular;}

/*----------Стилизация checkbox-----------------*/
input[type=checkbox] {
    display: none;
}
/*
.checkbox label:before {
    border-radius: 3px;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}*/



/* стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
    /* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
    .checkbox + label {
        cursor: pointer;
    }

    /*/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */


/*-----------------checkbox2---------------------------------*/
/* Прячем оригинальный чекбокс. */
.checkbox2:not(checked) {
    position: absolute;
    opacity: 0;
}

.checkbox2:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
    /* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox2:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox2:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox2:checked + label:before {
    background: #36B98A;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox2:checked + label:after {
    left: 26px;
}
/* Показываем получение фокуса. */
.checkbox2:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
/*-------------end checkbox2------------------*/



/*для адаптивног дизайна  - пока вопрос отложен
@media screen and (max-width: 1600px) {
    div.for-example {
        width: 1500px;
    }
}

@media screen and (max-width: 1280px) {
    div.for-example {
        width: 1100px;
    }
}

@media screen and (max-width: 1024px) {
    div.for-example {
        width: 980px;
    }
}*/
.t-ctr {
    text-align: center;
}
.filterInput {
    margin: 0;
    padding: 0;
    width: 92%;
    border: 1px;
    border-style: solid;
    line-height: 18px;
    height: 20px !important;
    width: 40px !important;
    border: 1px solid #95acbc !important;
}
.filterTable {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    font: 7pt tahoma;
    border-color: #000000;
    text-align: center;
}
.switch,.switch2 {
    
    padding: 0px 0 0px 0;
    width: 19px;
    height: 14px;
    text-align: center;
    cursor: pointer;
}
.white.switch2 {  
    width: 25px;
    height: 21px;
}
.switchs input[type=checkbox] {
   display: none;
}
.switch_on {
    color: #ffffff;
 background: url(../images/cb-form-check.png) no-repeat top left;
}
.switch_off {
    color: #2d2d2e;
 background: url(../images/cb-form-uncheck.png) no-repeat top left;
}
.white.switch_on {
    color: #ffffff;
 background: url(../images/cb-white-check.png) no-repeat top left;
}
.small .white.switch_on,.small  .white.switch_off{ background-size:20px;}
.white.switch_off {
    color: #2d2d2e;
 background: url(../images/cb-white-uncheck.png) no-repeat top left;
}
.small  .white.switch2 { width: 20px; height: 16px;} 

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="number"]
{
    padding: 0 5px;
    border: 2px solid #95acbc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 40px;
    color: #22405a;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
}

.small input[type="text"],
.small input[type="password"],
.small input[type="date"],
.small input[type="datetime-local"],
.small input[type="number"]
{
    border: 2px solid #95acbc;
    font-size: 14px!important;
    line-height: 30px;
    height: 30px;
}
.not-small input[type="text"],
.not-small input[type="password"],
.not-small input[type="date"],
.not-small input[type="datetime-local"],
.not-small input[type="number"]
{
    border: 2px solid #95acbc;
    font-size: 16px!important;
    line-height: 40px;
    height: 40px;
}

.not-sidebar input[type="text"],
.not-sidebar input[type="password"],
.not-sidebar input[type="date"],
.not-sidebar input[type="datetime-local"],
.not-sidebar input[type="number"]
{
    border: 1px solid #95acbc;
    font-size: 14px!important;
    line-height: 25px;
    height: 25px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}
input[type="text"]:focus ,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="number"]:focus {
    outline: 0; 
}

/* Begin of styles for the demo (you can remove them) */

/* buttons */
.b-small, .b-large, .b-large15, .b-large20,.b-large50{
    display:inline-block;
	cursor:pointer;
}

.b-large50:hover{ background-color:rgb(0,0,0,0.5)}
.b-large50    {height: 40px;line-height: 40px;padding:0;margin:0;}
.b-large50 a,.b-large50 button,.b-large50 input[type="button"],.b-large50 input[type="submit"]{display: inline-block;height: 40px;padding: 0px 15px 0px 25px;text-decoration:none;width: 100%;/* background-size: 29px !important; */}
.small .b-large50 { height: 30px; line-height: 30px;padding:0;margin:0;}
.small .b-large50 a,.small .b-large50 button,.small .b-large50 input[type="button"],.small .b-large50 input[type="submit"]{display: inline-block;height: 30px;padding: 0px 15px 0px 25px;text-decoration:none;width: 100%;/* background-size: 29px !important; */}

.not-small .b-large50 { height: 40px; line-height: 40px;padding:0;margin:0;}
.not-small .b-large50 a,.not-small .b-large50 button,.not-small .b-large50 input[type="button"],.not-small .b-large50 input[type="submit"]{display: inline-block;height: 40px;padding: 0px 15px 0px 25px;text-decoration:none;width: 100%;/* background-size: 29px !important; */}

.b-small a,.b-small input[type="button"],.b-small input[type="submit"]{ display: inline-block; padding:5px 0px; text-decoration:none;     width: 100%;}
.b-large a,.b-large input[type="button"],.b-large input[type="submit"]{ display: inline-block; padding:10px 10px; text-decoration:none;     width: 100%;}
.b-large15 a,.b-large15 input[type="button"],.b-large15 input[type="submit"]{ display: inline-block; padding:15px 15px; text-decoration:none;     width: 100%;}
.b-large20 a,.b-large20 input[type="button"],.b-large20 input[type="submit"]{ display: inline-block; padding:20px 20px; text-decoration:none;     width: 100%;}
.round{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px
	
}
.not-sidebar .round{
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px
}
.round-l{
	border-radius: 14px 0 0 14px;
	-moz-border-radius: 14px 0 0 14px;
	-webkit-border-radius: 14px 0 0 14px;
	-khtml-border-radius: 14px 0 0 14px
}
.round-r{
	border-radius: 0 14px 14px 0;
	-moz-border-radius: 0 14px 14px 0;
	-webkit-border-radius: 0 14px 14px 0;
	-khtml-border-radius: 0 14px 14px 0;
	
}
.gray { background-color:#95acbc }
.gray:hover{ background-color:rgba(149, 172, 188, 0.8);}

.orange { background-color:#f15a29 }
.orange:hover { background-color:rgba(241, 90, 41, 0.8) }

.light-blue { background-color: #9DD4EB !important}

.green { background-color:#36b98a }
.red { background-color:red }
.green:hover { background-color:rgba(54, 185, 138, 0.8)}



.blue { background-color:#22405a}
.blue:hover { background-color:rgba(34, 64, 90, 0.8)}
.blue.cb:hover {
 background-color: rgba(34, 64, 90, 1);
}
.drop-down a{
	background:transparent url(../images/drop-show.png) 92% 50% no-repeat;
	padding:10px 20px 10px 10px;
}
.zvit a,.zvit input[type="button"],.zvit input[type="submit"],.zvit button{
	background: transparent url(../images/zvit.png) 8% 50% no-repeat;
	padding: 0 15px 0px 40px;
}
.arrow a, .arrow button,.arrow input[type="button"],.arrow input[type="submit"]
{
 background: transparent;
    padding:0;
}
.return a,.return input[type="button"],.return input[type="submit"],.return  button{
	background: transparent url(../images/return.png) 8% 50% no-repeat;
    padding: 10px 10px 10px 25px;
}
.execute a,.execute input[type="button"],.execute input[type="submit"],.execute button{
	background:transparent url(../images/execute.png) 10% 50% no-repeat;
	padding:0px 15px 0px 30px;
}
.close-m a,.close-m input[type="button"],.close-m input[type="submit"],.close-m button{
	background:transparent url(../images/close.png) 50% 50% no-repeat;
	padding: 0px;
	width: 40px;
}
.excel-Export.min a, .excel-Export input[type="button"], .excel-Export input[type="submit"], .excel-Export button {
    background: transparent url(../images/Excel-icon.png) 57% 48% no-repeat;
    padding: 0 20px 0px 20px;
}

.small .close-m a,.small .close-m input[type="button"],.small .close-m input[type="submit"],.small .close-m button{
	background-size:15px;
}
.change a, .change input[type="button"], .change input[type="submit"], .change button {
    background: transparent url(../images/change.png) 10px 50% no-repeat;
    padding: 0 15px 0px 40px;
}
.change.min a, .change.min input[type="button"], .change.min input[type="submit"], .change.min button {
    background: transparent url(../images/change.png) 57% 48% no-repeat;
    padding: 0 20px 0px 20px;
}
.load a,.load input[type="button"],.load input[type="submit"],.load button{
	background:transparent url(../images/load-icon.png) 10px 50% no-repeat;
	padding: 0 15px 0px 40px;
}
.small .change.min a,.small .change.min input[type="button"],.small .change.min input[type="submit"],.small .change.min button{
	background-size:20px;
	padding: 0 20px 0px 20px;
}
.delete a,.delete input[type="button"],.delete input[type="submit"],.delete button{
	background:transparent url(../images/b-delete.png) 10px 50% no-repeat;
}
.delete.min a,.delete.min input[type="button"],.delete.min input[type="submit"], .delete.min button{
	background:transparent url(../images/b-delete.png) 50% 50% no-repeat;
	padding: 0 20px 0px 20px;
}

.new-group a,.new-group button,.new-group input[type="button"],.new-group input[type="submit"],.new-group button{
	background: transparent url(../images/Addfolder2.png) 10px 50% no-repeat;
	padding: 0 15px 0px 40px;
}
.new a,.new button,.new input[type="button"],.new input[type="submit"],.new button{
	background: transparent url(../images/new.png) 10px 50% no-repeat;
	padding: 0 15px 0px 40px;
}
.new.min a,.new.min button,.new.min input[type="button"],.new.min input[type="submit"],.new.min button {
	background: transparent url(../images/new.png) 50% 50% no-repeat;
	padding: 0 15px 0px 25px;
}
.sign-m.min a,.sign-m.min button,.sign-m.min input[type="button"],.sign-m.min input[type="submit"],.sign-m.min button {
	background: transparent url(../images/sign.png) 35% 50% no-repeat;
	padding: 0 15px 0px 25px;
}
.smal .new.min a,.smal .new.min button,.smal .new.min input[type="button"],.smal .new.min input[type="submit"],.smal .new.min button {
	padding: 0 15px 0px 15px;
	background-size:15px;
}
.save-m a,.save-m button,.save-m input[type="button"],.save-m input[type="submit"],.save-m button{
	background: transparent url(../images/save.png) 5px 50% no-repeat;
	padding:0px 15px 0px 30px;
}
.extract a,.extract button,.extract input[type="button"],.extract input[type="submit"],.extract button{
	background: transparent url(../images/money-5.png) 5px 50% no-repeat;
	padding:0px 15px 0px 30px;
}
.deposit a,.deposit button,.deposit input[type="button"],.deposit input[type="submit"],.deposit button{
	background: transparent url(../images/money-1.png) 5px 50% no-repeat;
	padding:0px 15px 0px 30px;
}
.endShift a,.endShift button,.endShift input[type="button"],.endShift input[type="submit"],.endShift button{
	background: transparent url(../images/direction.png) 5px 50% no-repeat;
	padding:0px 15px 0px 30px;
}

.print-m a,.print-m input[type="button"],.print-m input[type="submit"],.print-m button,.print-m .button{
	background:transparent url(../images/print.png) 10px 50% no-repeat;
}
.print-m.cb a,.print-m.cb input[type="button"],.print-m.cb input[type="submit"],.print-m.cb button,.print-m.cb .button{
	background:transparent url(../images/print.png) 10px 50% no-repeat;
    padding:0 0 0 40px;
    width:70%;
}
.copy a{
	background:transparent url(../images/copy.png) 10px 50% no-repeat;
	padding: 0 15px 0px 40px;
}
.code  a{
	background: transparent url(../images/code.png) 50% 50% no-repeat;
    padding: 20px 25px 8px 20px;
}
.code a.with-text{ background: transparent url(../images/code.png) 10px 50% no-repeat; padding: 16px 17px 16px 40px; }
.user-add a,.user-add button,.user-add input[type="button"],.user-add input[type="submit"]{
	background: transparent url(../images/user-add.png) 50% 50% no-repeat;
	padding: 0;
}
.stat a, .stat button, .stat input[type="button"], .stat input[type="submit"] {
 background: transparent url(../images/stat.png) 10% 50% no-repeat;
    padding: 0px 0px 0px 20px;
}
.stat.green a, .stat.green button, .stat.green input[type="button"], .stat.green input[type="submit"] {
 background: transparent url(../images/stat-green.png) 10% 50% no-repeat;
    padding: 0px 0px 0px 20px;
}
.stat.blue a, .stat.blue button, .stat.blue input[type="button"], .stat.blue input[type="submit"] {
 background: transparent url(../images/stat-blue.png) 10% 50% no-repeat;
    padding: 0px 0px 0px 20px;
}
.drop-box a,.drop-box button,.drop-box input[type="button"],.drop-box input[type="submit"]{
	background: transparent url(../images/drop-box-down.png) 50% 50% no-repeat;
	line-height: 18px;
	padding: 20px 20px 20px;
}
.drop-box.up a,.drop-box.up button,.drop-box.up input[type="button"],.drop-box.up input[type="submit"]{
	background: transparent url(../images/drop-box-up.png) 50% 50% no-repeat;
	padding: 20px 20px 20px;
}
#overlay{
    z-index:auto !important;
}

.btnOverlay {
    pointer-events: none;
    /*background-color: #000;*/
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}





/* End of of styles for the demo */
.wrapper {
	width: 1200px;
	margin: 0 auto;
	padding-bottom:13px;
	background-color:#ecf1f5;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-khtml-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	-moz-box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â Firefox */
    -webkit-box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â Safari ÃƒÂÃ‚Â¸ Chrome */
    box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â IE ÃƒÂÃ‚Â¸ Opera */
}
.wrapper.not-sidebar {
	padding-bottom:0px;
}
.w1024{
	width: 1000px;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 120px;
	padding:0 20px;
	background: #fff;
	margin: 10px 0 10px 0;
	overflow:hidden;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-khtml-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	-moz-box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â Firefox */
    -webkit-box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â Safari ÃƒÂÃ‚Â¸ Chrome */
    box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â IE ÃƒÂÃ‚Â¸ Opera */
}
.not-sidebar .header{ height: 100px;	margin: 10px 0 0 0; }
.header .l-logo{
	display: inline-block;
    float: left;
}
.header .l-logo img {

}
.header .r-logo{
	display: inline-block;
	float: right;
	
}
.header .r-logo a.logo {
	display:block;
	width:235px;
	height:80px;
	margin-top: 20px;
}
.logo-upper {
    width: 150px;
    height: 150px;
    position: absolute;
 background:url(../images/logo-bg.png) top center no-repeat;
    z-index: 10;
 background-size:150px;
}
.logo-upper-text {
     width: 150px;
    height: 150px;
    position: absolute;
    line-height:140px;
}
.w100px .logo-upper {
    width: 100px;
    height: 100px;
 background-size:100px;
}
.w100px  .logo-upper-text {
     width: 100px;
    height: 100px;
    line-height:100px;
}
.header .l-logo .logo-upper {
    width: 96px;
    height: 96px;
    position: absolute;
 background: url(../images/logo-bg.png) top left no-repeat;
    z-index: 10;
}

.header .l-logo .img-responsive{width:96px!important; height:96px!important}
.header .m-head{
	/*background-color: #c5c5c5;*/
    height: 120px;
    float: inherit;
    /*overflow:hidden;*/
	margin: 0 235px 0 120px
}
.header .m-head .t{
	min-height: 75px;
    padding-top: 20px;
    padding-bottom: 10px
}
.header .m-head .t .f-left
{
	width:35%;
	/*border:1px solid red*/
}
.header .m-head .t .f-right{
	width:30%;
	min-height:40px;
}
.org-name{
	color:#22405a;
	max-height: 38px;
    overflow: hidden;
}
.org-name span { line-height: 38px }

.user-name{ 
 background:url(../images/user-name.png) 0px 5px no-repeat;
    color:#36b98a 
}
.user-name>span{ border-bottom: 2px dotted #36b98a; margin-left: 30px; line-height: 20px; height:20px; margin-top: 8px;max-width: 175px; overflow: hidden;
	overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    line-break: auto;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }

.feedback{ 
 background: url(../images/feedback.png) 0 50% no-repeat;
}
.feedback span{     
	margin-left: 45px;
    width: 135px;
    display: inline-block;
    padding-top: 5px
}

.feedback *{ color:#95acbc}
.header .logout{ background:url(../images/logout.png) top left no-repeat; float: left; width: 25px;  height: 25px;   display: inline-block;  margin-top: 7px; margin-left: 5px;}
nav { margin:0 auto; }
nav ul.top-menu{
	text-align: center;
    display: block;
}
nav ul.top-menu li{
	display: inline-block;
    float: left;
    /* width: 20%; */
    margin-right: 53px;
    text-align: center;
    padding: 0;
    /* margin: 0; */
}
.not-sidebar nav ul.top-menu li{margin-right: 0px; margin-top: 5px; float:none; width:110px; position:relative; }
nav ul.top-menu li.last { margin-right: 0px } 

.w1024 nav ul.top-menu li{ margin-right: 53px }



nav ul.top-menu li a{
	display: inline-block;
    color: #95acbc;
	font-size:20px;
	text-transform:uppercase;
	text-decoration:none;
	padding-bottom: 10px;
}

.not-sidebar nav ul.top-menu li a{
	color: #000;
	font-size:16px;
	text-transform:uppercase;
	text-decoration:none;
	padding-bottom: 10px;
	position: relative;
}
.w1024 nav ul.top-menu li a{ font-size:17px; }
nav ul.top-menu li.last{ margin-right: 0px }

nav ul.top-menu li a:hover, nav ul.top-menu li a.active{
	color: #12aaeb;
    border-bottom: 4px solid #12aaeb;
}
.not-sidebar nav ul.top-menu li a:hover, .not-sidebar nav ul.top-menu li a.active{
	color: #000;
    border-bottom: none;
}

.not-sidebar nav ul.top-menu li:hover::before{
	 content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #36b98a;
    -moz-border-radius: 50px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    position: absolute;
    top: -5px;
    left: 40px;
    z-index: 0;	
}
/* Middle
-----------------------------------------------------------------------------*/
.container-new {
	
}
.middle {
	/*border-left: 410px solid #ecf1f5;*/
	border-left: 410px solid #fff;
	background: #fff url(../images/content-border.png) top left repeat-y;
	position: relative;
	margin: 0 15px 0 15px;
	-moz-box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â Firefox */
    -webkit-box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â Safari ÃƒÂÃ‚Â¸ Chrome */
    box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â IE ÃƒÂÃ‚Â¸ Opera */
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.middle.not-sidebar{
	/*border-left: 410px solid #ecf1f5;*/
	border: none!important;
	background: none!important;
	background-image:none!important;
	position: relative;
	margin: 0 15px 0 20px;
	-moz-box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â Firefox */
    -webkit-box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â Safari ÃƒÂÃ‚Â¸ Chrome */
    box-sizing: border-box; /* ÃƒÂÃ¢â‚¬ÂÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â IE ÃƒÂÃ‚Â¸ Opera */
}
.container-new {
	width: 100%;
	float: left;
        min-height:610px;
	overflow: hidden;
	margin-right: -100%;
}
.container-new.with-footer{
	height:440px;
	overflow:auto;
}
.content {
	padding: 0 0 0 8px;
}
.kasa .buttons{
	padding:20px;
}

.filter-block {
	background-color: #F1F5F8;
	/*min-height: 50px;*/
	width: 100%;
	display: inline-block;
	/*overflow:hidden;*/
	margin-bottom: -13px;
}

.breadcrump-m {
	/*min-height: 50px;
	max-width: 46%;*/
    margin-top:0px;
}
.breadcrump-m ul { margin-left: 20px }
.breadcrump-m ul li{
	display:inline-block;
	
}
.breadcrump-m ul li a{
	display:inline-block;
	padding-right:30px;
	background:url(../images/bread-item.png) 90% 50% no-repeat;
	text-decoration:none;
    line-height:50px;
    color: #95acbc;
    font-size:16px;
    font-family:PTSansBold;
    text-transform: uppercase;
}
.breadcrump-m ul li a span{ line-height:50px;}

.sort-block{

}
.sort-block span,.view-block span { display:inline-block;}
.sort-block span.sort,.view-block span.view {
	/*background:transparent url(../images/sort-arrow-green.png) 95% 50% no-repeat;
	padding-right:15px;
    */
    width:120px;
}
.sort-block span a{/* text-decoration: none; border-bottom:1px dotted #36b98a */}
.view-block form,.sort-block  form {
    display:inline-block; 
}
.view-block {
	
}
.view-block span.list,.view-block span.thumb { line-height:55px }
.view-block a { width:17px;height:17px; display:inline-block;  }
.view-block .list a { background:url(../images/list.png) top right no-repeat; }
.view-block .thumb a {background:url(../images/thumb.png) top right no-repeat;}


/* product list */ 
.tblProducts{
 background:#f1f5f8!important;
    /* overflow:hidden; */
    position:relative;
    line-height:1px !important;
    padding-right:65px;
}
.tblProducts>div{line-height:18px;}
.tblProducts > .drop-box {
    position:absolute;
    top:-30px;
    right:15px;
}
.tblProducts .cat-item > img { width:86px!important; height:64px!important; max-width:86px!important; max-height:64px!important;}
.tblProducts .cat-item{
    text-align:center;
    font-size:14px;
    color:#22405a;
	
    /* margin-bottom:10px; */
}
.tblProducts .cat-item {cursor:pointer;}
.tblProducts .in{
    height: auto;
 background: #f1f5f8;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 100;
    max-height:220px;
    padding-right:65px;
    overflow: auto;
}
.tblProducts .collapsing {
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 100;
    width: 100%;
    padding-right:65px;
 background: #f1f5f8;
    max-height:200px;
    overflow:hidden;
    }
#product-list { padding:0px }
#product-list .thumbs{
    padding-left: 5px;
}
#product-list .thumbs li{
	display:inline-block;
	margin: 5px 20px 0px;
	width: 100px;
	height: 102px;
	cursor:pointer;
	background-color:#fff;
} 
#product-list .thumbs li a{
	display:inline-block;
	margin:0;
	padding:0;
	text-decoration:none;
}
#product-list .thumbs li div{

	margin:0;
	padding:0;
	text-decoration:none;
}
#product-list .thumbs li .img{
	text-align:center;
	position:relative;

}
#product-list .thumbs li .img img{
	width: 100px;
	height: 75px;
}
#product-list .thumbs li .img .price{
    position: absolute;
    top: 45%;
    width: 100%;
    left: 0;
    font-size:24px;
    color:#f1f5f8;
    text-shadow:#22405a 1px 1px 0, #22405a -1px -1px 0, #22405a -1px 1px 0, #22405a 1px -1px 0;
}
#product-list .thumbs li .name{
	text-align: center;
	color: #22405a;
	font-size: 13px;
	display: table-cell;
	width: 130px;
	vertical-align: middle;
	height: 26px;
}
.hidden-table-Sett {
    max-height: 220px;
    overflow: auto;
}
/*  search block */
.search-wrapper {
    position: relative;
    border: 2px solid #95acbc;
    height: 40px;
    padding: 0 0 0 5px;
    -webkit-appearance: none;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 background: #fff;
}

.search-wrapper input{
    width: 100%;
    float: left;
    height: 38px;
    padding-top: 0;
 background: transparent;
    border: 0;
    -webkit-appearance: none;
    margin-right: 0;
    padding-left: 0;
    padding-right: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search-wrapper input:focus {
    outline: 0; 
}
.search-wrapper button {
    min-width: 32px;
    overflow: visible;
    position: absolute;
    right: 0px;
    float: left;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 38px;
    color: #fff;
 background-color: transparent;
 background-image: url(../images/search.png);
 background-repeat: no-repeat;
 background-position: 50% 50%;
    /* border-radius: 0 3px 3px 0; */
    font-size: 1.0em;
}
/* code block */
.code-wrapper {
    position: relative;
    border: 2px solid #95acbc;
    height: 40px;
    padding: 0 0 0 5px;
    -webkit-appearance: none;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 background: #fff;
}
.code-wrapper.r-s {
     padding: 0 5px 0 0;
}
.code-wrapper input{
    width: 100%;
    float: left;
    height: 38px;
    padding-top: 0;
 background: transparent;
    border: 0;
    -webkit-appearance: none;
    margin-right: 0;
    padding-left: 0;
    padding-right: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.code-wrapper.r-s input {
     padding-right: 0px;
      padding-left: 32px;
      float: right;
}
.code-wrapper input:focus {
    outline: 0; 
}
.code-wrapper button {
    min-width: 32px;
    overflow: visible;
    position: absolute;
    right: 0px;
    float: left;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 38px;
    color: #fff;
 background-color: transparent;
 background-image: url(../images/code.png);
 background-repeat: no-repeat;
 background-position: 50% 50%;
    /* border-radius: 0 3px 3px 0; */
    font-size: 1.0em;
}
    .code-wrapper.r-s button {
        left: 0px;
    }
/* tables */
.properties table tbody { background-color:#f1f5f8 }
.properties table tr.odd,.properties table tr:nth-child(odd){
	background-color:#fff;
}
.properties table thead th{
	color:#95acbc;
	font-size:16px;
	text-align:left;
	padding: 5px 0px 10px 0;
}
.properties table tfoot th{
	color:#95acbc;
	font-size:16px;
	padding: 5px 0px 10px 0;
}
.properties table td{
	color:#000;
	font-size:16px;
	padding: 5px 0;
}

.properties table tr:hover{
	background-color:#9dd4eb;
	cursor:pointer;
}
.properties table thead tr:hover {
 background:none;
}


.store table tbody { background-color:#f1f5f8 }
.store table tr.odd{
	background-color:#fff;
}
.store table th{
	color:#95acbc;
	font-size:16px;
	text-align:left;
	padding: 5px 0px 10px 0;
}
.store table td{
	color:#000;
	font-size:16px;
	padding: 10px 0;
}

.store table tr:hover{
	background-color:#9dd4eb;
	cursor:pointer;
}
.store table thead tr:hover {
 background:none;
}
.content .inner{ /*background-color:#fff; min-height: 660px; */}

.properties .buttons {
	padding: 10px 15px 10px;
	display: block;
	min-height: 60px;
}
.properties .pager-m{
    padding: 0px 15px 5px;
}
.data
{
    /* padding: 3%; */
    position: relative;
    /* background-color: #f1f5f8; */
    display: inline-block;
    width: 100%;
    /* border: 1px solid #f1f5f8; */
 }
.data fieldset label {
	width:76px;
}
fieldset .item-fieldset { clear:both; margin:10px 0 }
.item-w100 {display:inline-block;width:100%;line-height: 18px;}
.not-sidebar .item-w100{ line-height: 25px; }
.item-b-w100 { display:block; width:100%; margin:1px 0;}

fieldset.spec input[type="text"], fieldset.spec input[type="password"], fieldset.spec input[type="date"], fieldset.spec input[type="datetime-local"], fieldset.spec input[type="number"],
fieldset.products input[type="text"], fieldset.products input[type="password"], fieldset.products input[type="date"], fieldset.products input[type="datetime-local"], fieldset.products input[type="number"] {
    float: right;
    width: 250px;
}

.data fieldset.spec label,
.data fieldset.products label {
    margin-top: 15px;
    width: 109px;
}

fieldset.spec .item-fieldset,
fieldset.products .item-fieldset {
    margin: 3px 0px 2px;
    width: 100%;
    display: inline-block;
}
/**************/
fieldset.employ input[type="text"], fieldset.employ input[type="password"], fieldset.employ input[type="date"], fieldset.employ input[type="datetime-local"], fieldset.employ input[type="number"] {float:right; width:250px }
fieldset.employ label { margin-top:10px; width: 109px }
fieldset.employ .item-fieldset { margin: 0px 0px 2px;  width: 100%; display: inline-block;  }

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 410px;
	position: relative;
	/*background: #ecf1f5;*/
	left: -410px;
    height:610px;
    overflow:hidden;
}
.left-sidebar > div { /*background-color: #fff; */ }
.left-sidebar .beetwen{
	border-top:2px dotted #ccd5dd;
	height:2px;
	background-color:#ecf1f5;
}
.left-sidebar .beetwen-top{
	padding-top:10px;
	background-color:#ecf1f5;
}
.left-sidebar .beetwen-bottom{
	padding-bottom:10px;
	background-color:#ecf1f5;
}
.left-sidebar .top{min-height: 300px;}
.left-sidebar .top{
	position:relative;
	padding:20px 10px 20px 20px;
}
.w1024 .left-sidebar .top{ padding:20px 10px 20px 10px; }

.left-sidebar .top .t-line {
 background: #ecf1f5 url(../images/t-line.png) top left repeat-x;
    position: absolute;
    top: 0;
    width: 100%;
}
.left-sidebar .top .b-line {
 background: #ecf1f5 url(../images/b-line.png) top left repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.left-sidebar .top .t-line,.left-sidebar .top .b-line{
	height:4px;
	left: 0;
}
.left-sidebar .top .t-line{
	background:#ecf1f5 url(../images/t-line.png) top left repeat-x;
}
.left-sidebar .top .b-line{}
.left-sidebar .bottom { 
	padding: 20px 15px 20px 20px;
	/*min-height: 300px*/
}
.left-sidebar .top-max {
    height: 523px!important;
    overflow:hidden!important;
}
.left-sidebar .bottom-min{
    display:inline-block!important;
    min-height:50px!important;
}
.w1024 .left-sidebar .bottom{ min-height: 578px }
nav .left-menu {
	margin-top:20px;
}
nav .left-menu li{
	margin: 10px 0;
}
nav .left-menu li a{
	display:inline-block;
	color:#fff;
	font-size:16px;
	background-color:#95acbc;
	padding: 0px 10px 0 65px;
	line-height: 40px;
	width:280px;
	text-decoration:none;
}
nav .left-menu li input {
    display:inline-block;
	color:#fff;
	font-size:16px;
	background-color:#95acbc;
	padding: 0px 10px 0 10px;
	line-height: 40px;
	width:280px;
	text-decoration:none;
    }
nav .left-menu li.UserOrganization a { background:#95acbc url(../images/settings.png) 10px 0px no-repeat; } 
nav .left-menu li.UserOrganization.active a { background-position-y: -40px; }

nav .left-menu li.Departaments a { background:#95acbc url(../images/settings.png) 10px -80px no-repeat; }
nav .left-menu li.Departaments.active a { background-position-y: -120px; }

nav .left-menu li.CashBoxes a { background:#95acbc url(../images/settings.png) 10px -160px no-repeat; }
nav .left-menu li.CashBoxes.active a { background-position-y: -200px; }
 
nav .left-menu li.Employees a {background:#95acbc url(../images/settings.png) 10px -240px no-repeat;} 
nav .left-menu li.Employees.active a { background-position-y: -280px; }
 
nav .left-menu li.Products a { background:#95acbc url(../images/settings.png) 10px -320px no-repeat;}
nav .left-menu li.Products.active a { background-position-y: -360px; }

nav .left-menu li.Pricelists a { background: #95acbc url(../images/pricelists.png) 10px -47px no-repeat;}
    nav .left-menu li.Pricelists.active a { background-position-y: -3px; }

nav .left-menu li.Specifications a { background:#95acbc url(../images/settings.png) 10px -400px no-repeat;} 
nav .left-menu li.Specifications.active a { background-position-y: -440px; }

 nav .left-menu li.Bill a { background:#95acbc url(../images/settings.png) 10px -480px no-repeat;} 
 nav .left-menu li.Bill.active a { background-position-y: -520px; }
 
nav .left-menu li.Zvity a { background:#95acbc url(../images/settings.png) 10px -560px no-repeat;}
nav .left-menu li.Zvity.active a { background-position-y: -600px; }

nav .left-menu li.Import a { background:#95acbc url(../images/settings.png) 10px -640px no-repeat;} 
nav .left-menu li.Import.active a { background-position-y: -680px; }

nav .left-menu li.Support a { background:#95acbc url(../images/settings.png) 10px -720px no-repeat;}
nav .left-menu li.Support.active a { background-position-y: -760px; }
 
nav .left-menu li.Tariff a { background:#95acbc url(../images/tariff-uncheck.png) 20px 10px no-repeat; } 
nav .left-menu li.Tariff.active a { background:#36b98a url(../images/tariff-check.png) 20px 10px no-repeat; }

nav .left-menu li.active a,nav .left-menu li.active input{
	background-color:#36b98a;
}
nav .left-menu li input:hover{
	background-color:#22405a;
}

.table-border{ 
	border-bottom:1px dashed #95acbc; 
}
.left-sidebar table th{
	color:#95acbc;
	font-size:16px;
	text-align:left;
	padding: 5px 0px 10px 0;
}
#tblProductsOper th {
    padding: 15px 0px 20px 0;
}
.left-sidebar table td{
	color:#000;
	font-size:16px;
	padding: 5px 0;
}
.small table td{ font-size:14px; padding: 3px 0;}
.small table th{ max-height:27px; overflow:hidden; }
th.count , th.price{ width: 70px }
    
th.delete{
	width:20px;
}
table.result td { padding:7px 0 0 0 }

.form-select {
    border: 2px solid #95acbc;
    overflow: hidden;
    height: 40px;
 background-position-y: 0px;
 background: url(../images/ddb-form.png) no-repeat 100% #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.small .form-select {
    height: 30px
}

.form-select select {
	outline: 0;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
	height: 36px;
	border: 0;
	line-height: 1;
	-webkit-appearance: none;
	/*width: 115%;*/
	width: 100%;
	padding:0 20px 0 5px;
	color: #22405a;
	font-size: inherit;
	line-height: 1em;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
	}
.small .form-select select {
	height: 26px;
}
.form-select.b-n select{height: 38px;}
.dotted-green-select {
	line-height: 1!important;
    overflow: hidden;
 background-position-y: 0px;
 background: url(../images/ddb-green.png) no-repeat 98% 3px #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}


.dotted-green-select  select {

	outline: 0;
    border-radius: 0;
 background-color: rgba(0, 0, 0, 0);
    color:#36b98a;
    border: 0;
    line-height: 1;
    -webkit-appearance: none;
    /*width: 115%;*/
	width: 100%;
    padding: 0 41px 0 0;
    font-size: inherit;
	line-height: 1em;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: "";

   } 
.non-border-green-select {

    overflow: hidden;
 background-position-y: 0px;
 background: url(../images/ddb1-green.png) no-repeat 98% 100% #f1f5f8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.filter-block>.view-block>span.f-left{float:none;}

.non-border-green-select  select {
	
	outline: 0;
    border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
    color:#36b98a;
    border: 0;
    line-height: 1;
    -webkit-appearance: none;
    width: 100%;
    padding: 0 15px 0 0;
    font-size: inherit;
	line-height: 1em;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
   }
   
.diagram{
	width: 700px;
	height: 260px;
    border: 1px solid #bababa;
    overflow: hidden;
    margin-left: 15px;
	
}
/* Footer
-----------------------------------------------------------------------------*/
.footer,footer{
	height: 210px;
	background: #22405a;
	overflow:hidden;
}
footer .bottom{
	border-top:1px #95acbc solid; padding-top:10px;
}
.pos-ab-b {
    position:absolute;
    bottom:0px;
}
.b10px { bottom:10px; }
.b20px { bottom:25px; }
table.not-padding td{ padding:0 0 }


.p0{ padding:0 !important }
.p0-5{ padding:0 5px!important }
.p10{ padding:10px!important }
.pt10{ padding-top:10px!important }
.pb10{ padding-bottom:10px!important }
.pl15{ padding-left:15px!important }
.pl5{ padding-left:5px!important }
.pl10 {padding-left: 10px !important}
.pl12 {padding-left: 10px !important}
.pl20{ padding-left:20px!important }
.pl35{ padding-left:35px!important }
.pl40{ padding-left:40px!important }
.pl50{ padding-left: 50px !important}
.pl60{ padding-left: 60px !important}
.pr15{ padding-right:15px!important }
.pr5{ padding-right:5px!important }
.pr20{ padding-right:20px!important }
.pr10{ padding-right:10px!important }
.t_1{position:relative;top:1px;}
.mt2 {margin-top: 2px !important;}
.mt-2{margin-top:-2px !important;}
.t_10{margin-top:-10px !important;}
.t_20{margin-top:-20px !important;}
.t_40{margin-top:-40px !important;}
.t3{margin-top:3px !important;}
.t5{margin-top:5px !important;}
.t10{margin-top:10px !important;}
.t15{margin-top: 10px !important;}
.t15-real{margin-top: 15px !important;}
.t-15{margin-top:-15px !important;}
.t18{margin-top: 14px !important;}
.t20{margin-top:20px !important;}
.t25{margin-top:25px !important;}
.t35{margin-top:35px !important;}
.t40{margin-top:40px !important;}
.t45{margin-top:45px !important;}
.t60{margin-top:60px !important;}
.b3{margin-bottom:3px !important;}
.b5{margin-bottom:5px !important;}
.b10{margin-bottom:10px !important;}
.b15{margin-bottom:15px !important;}
.b20{margin-bottom:20px !important;}
.b30{margin-bottom:30px !important;}
.b40{margin-bottom:40px !important;}
.b45{margin-bottom:45px !important;}
.b75{margin-bottom:75px !important;}
.r2{margin-right:2px !important;}
.r4{margin-right:4px !important;}
.r5{margin-right:5px !important;}
.r10{margin-right:10px !important;}
.r8{margin-right:8px !important;}
.r12{margin-right:12px !important;}
.r15{margin-right:15px !important;}
.r20{margin-right:20px !important;}
.r25{margin-right:25px !important;}
.r30{margin-right:30px !important;}
.r35{margin-right:35px !important;}
.r40{margin-right:40px !important;}
.r75{margin-right: 65px !important;}
.r77{margin-right:77px !important;}
.r78{margin-right:78px !important;}
.l85{margin-left:85px !important;}
.l2 {margin-left: 2px !important;}
.l5{margin-left:5px !important;}
.l10{margin-left:10px !important;}
.l15{margin-left:15px !important;}
.l20{margin-left:20px !important;}
.sm-inp {
    line-height: 15px!important;
    height: 25px!important;
    padding: 0 0 0 5px!important;
    
}
.sm-inp.w50px {min-width: 50px!important }
.bg-none td,.bg-none tr{ background-color: #fff!important; }
.bg-none td:hover,.bg-none tr:hover{ background-color: #fff!important; }
.f9{font-size:9px;}
.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f12imp{font-size:12px!important;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f19{font-size:19px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f25{font-size:24px;}
.f30{font-size:30px;}
.f35{font-size:35px;}
.f38{font-size:38px;}

.hidden { display:none; }
.o-h { overflow:hidden!important }
.outside0-10-20 { margin:0 -10px 0 -20px } 
.outside0-15-15 { margin:0 -15px 0 -15px } 
.outside0-10-10 { margin:0 -10px 0 -10px } 
.outside0-15-20 { margin:0 -15px 0 -20px }

.dib{ display:inline-block; }
.db{ display:inline-block; }
.w100{ width:100%!important }
.w90{ width:90%!important }
.w80{ width:80%!important }
.w50{ width:50%!important }
.w60{ width:60%!important }
.w45 {width:45%!important}
.w48 {width:48%!important}
.w33{ width:33.3%!important }
.w25{ width:25%!important }
.w20{ width:20%!important }
.w10{ width:10%!important }
.w15{ width:15%!important }
.w16{ width:16%!important }
.w30px{ width: 30px!important;}
.w35px{ width: 35px!important;}
.w40px{ width: 40px!important;}
.w45px{ width: 45px!important;}
.ni-w45px { width: 45px }
.w50px{ width: 40px!important;line-height: 18px;}
.small .w50px { width: 40px!important;line-height: 18px }
.w55px {width: 55px !important}
.w60px {width: 60px !important}
.w65px{ width:65px!important }
.w66px{ width:66px!important }
.w68px{ width:67px!important }
.w76px{ width:76px!important }
.w70px{ width:70px!important }
.w75px{ width:75px!important }
.w80px{ width:80px!important }
.w85px{ width:85px!important }
.w90px { width:90px!important }
.w95px { width:95px!important }
.w100px{ width:100px!important }
.w105px{ width:105px!important }
.w110px{ width:110px!important }
.w110px{ width:110px!important }
.w113px{ width:113px!important}
.w120px{ width:120px!important }
.w125px{ width:125px!important }
.w130px{ width:130px!important }
.w135px{ width:135px!important }
.w140px{ width:140px!important }
.w145px{ width:145px!important }
.w150px{ width:150px!important }
.w155px{ width:155px!important }
.w160px{ width:160px!important }
.w165px{ width:165px!important }
.w170px{ width:170px!important }
.w175px{ width:175px!important }
.w185px{ width:185px!important }
.w180px{ width:180px!important }
.w190px{ width:190px!important }
.w195px{ width:195px!important }
.w200px{ width:200px!important }
.w205px{ width:205px!important }
.w206px{ width:206px!important }
.w210px{ width:210px!important }
.w215px{ width:215px!important }
.w220px{ width:220px!important }
.w225px{ width:225px!important }
.w230px{ width:230px!important }
.w235px{ width:235px!important }
.w240px{ width:240px!important }
.w245px{ width:245px!important }
.w250px{ width:250px!important }
.w260px{ width:260px!important }
.w265px{ width:265px!important }
.w270px{ width:270px!important }
.w280px{ width:280px!important }
.w290px{ width:290px!important }
.w300px{ width:300px!important }
.w305px{ width:305px!important }
.w310px{ width:310px!important }
.w315px{ width:315px!important }
.w320px {width:320px!important }
.w330px {width:330px!important }
.w340px {width:340px!important }
.w350px{ width:350px!important }
.w370px{ width:370px!important }
.w400px{ width:400px!important }
.w445px {width:445px!important }
.w450px{ width:450px!important }
.w500px{ width:500px!important }
.w660px {width:660px!important  }
.w1024 .w500px{ width:400px!important }

.mw85px {
    min-width:85px;
}
.h18px{ height:18px!important }
.h20px{ height:20px!important }
.h30px{ height:30px!important }
.h40px{ height:40px!important }
.h50px{ height:50px!important }
.h150px { height:150px!important }
.h100px { height:100px!important }

.mh365px{ }
.mh610px { min-height: 610px!important }
.h15px { height: 15px!important }
.lh18px { line-height:18px!important }
.lh20px { line-height:20px!important }
.lh25px { line-height:25px!important }
.lh30px { line-height:35px!important }
.lh35px { line-height:35px!important }
.lh40px { line-height:40px!important }
.lh50px { line-height:50px!important }

.bor-dot { border-bottom:1px dotted #95acbc!important}
.hidden { display:none!important }
.td-ul { text-decoration:underline }
.td-none { text-decoration:none }

.f-left{ float:left }
.f-right{ float:right }
.a-l{ text-align:left }
.a-c{ text-align:center }
.a-r{ text-align:right }

.col22405a{ color:#22405a!important }
.col95acbc { color:#95acbc!important }
.col000{ color:#000!important }
.colfff { color:#fff!important }
.colccc { color:#ccc!important }
.col666 { color:#666666!important }
.col666-2 { color:#c0c0c0!important }
.colred{ color:red!important }
.col36b98a { color:#36b98a!important}

.ml-20{ margin-left:-20px }
.mt-2px{ margin-top:-2px }
.m-0-auto { margin: 0 auto}
.b{ font-family: PTSansBold;}
.clear-both { clear:both }
.b-n {
        border: none!important;
        height: 36px!important;
}
.b-2px {
    border: 2px solid #95acbc;
}
.bb-1-000-dashed { border-bottom:1px #000 dashed }
.center {
    text-align:center;
}
.properties table tr.orange:hover,.properties table tr.odd.orange, .properties table tr:nth-child(odd).orange, table tr.orange,table tr.orange:hover { background-color:#f15a29}

.ui-widget {
    
 background-color: rgba(206, 206, 206, 1)!important;
    color: #22405a!important;
    width: 210px!important;
}
.ui-menu li { 
    cursor:pointer;
    padding: 5px!important;
}
.ui-menu li:hover {
     background-color: rgba(149, 172, 188, 1)!important;
}

table.wb td,table.wb th{	
	display: inline-flex;
    vertical-align: middle!important;
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    word-break: break-all!important;
    line-break: auto!important;
    -webkit-hyphens: none!important;
    -ms-hyphens: none!important;
    hyphens: none!important;
}
table.finance td,table.finance th{	
	/*
	display: inline-flex;
    vertical-align: middle!important;
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    word-break: break-all!important;
    line-break: auto!important;
    -webkit-hyphens: none!important;
    -ms-hyphens: none!important;
    hyphens: none!important;
	*/
	
}
#WorkZoneBOper .hidden-table-c {
	max-height:135px;
	min-height:110px;
	overflow:auto;
}
#WorkZoneBOper .hidden-table-c  td,#WorkZoneBOper .visible-head  th {
	font-size:14px;
	line-height:16px;
}


/* CSS-FireFox*/s
@-moz-document url-prefix() 
/* body {background: #F00;}*/
.form-select select {padding: 0 20px 0 10px; }
.dotted-green-select select {padding: 0 0 0 0;}
.w85px {width:82px!important}
 }
/* /CSS- FireFox */

/*  Safari < 4.0 */
body:last-child:not(:root:root) .style {
 /*background: blue;*/
}
/* /ÃƒÂÃ‚Â´ÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â Safari < 4.0 */
/* ÃƒÂÃ‚Â´ÃƒÂÃ‚Â»Ãƒâ€˜Ã‚Â Safari < 4.0 */
html[xmlns*=""] body:last-child .style {
/* background: yellow;*/
}
@media all and (-webkit-min-device-pixel-ratio:0) {
    table.visible-head td.w135px, table.visible-head th.w135px { width:150px!important;  }
}

/* fixed for bootstrap */
button, html input[type="button"], input[type="reset"], input[type="submit"] { border:none; border-image:none; outline: 0; background-color: rgba(0, 0, 0, 0);}

[hidden] {
    display: none;
}
.b-large50 input[hidden]{
    display: none;
}
[disabled], [readonly] {
    cursor: not-allowed;
 background-color: #eee;
}
.form-select select[disabled], .form-select select[readonly]{
 background-color: rgba(0, 0, 0, 0.1);
}
.row {
    margin-right: 0px;
    margin-left: 0px; 
}
.col-md-3 {
    text-align:center;
}
#ZoneALevel_1_Table .col-md-3 img {
    margin:0 auto;
}

.glyphicon{ color:red!important; 
            background:rgba(0, 0, 0, 0) 
            url(../images/delete.png) center center no-repeat !important;
            width:16px!important; height:16px!important; }
.glyphicon-remove-circle:before {
    content: ""!important;
}

.star{ color:red }
/* /fixed for bootstrap */

/*
обрезка длинной строки в поле комментарий, товарооборот. 
*/
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* -o-ellipsis-lastline: 1;*/
    position: relative;
    line-height: 1.4em;
    /* 3 times the line-height to show 3 lines */
    height: 1.4em;
    /*white-space: nowrap;*/
}

.line-clamp1 {
    position: relative;
    line-height: 46px;
    /* 3 times the line-height to show 3 lines */
    height: 37px;
    display: -webkit-box;
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    /*-webkit-box-orient: vertical;*/
}

    .line-clamp1::after {
        content: "...";
        /*font-weight: bold;*/
        font-size: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 20px 1px 45px;
        margin: 10px 0px -10px 10px;
        background: url('../images/ellipsis_bg.png') repeat;
    }

.line-clamp1:hover {
    /*background: #f0f0f0; /* Цвет фона */
    white-space: normal; /* Обычный перенос текста */
}

.line-clamp2 {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    background: #ffffff; /* Цвет фона */
    position: relative; /* Относительное позиционирование */
}

.line-clamp2::after {
    content: ''; /* Выводим элемент */
    position: absolute; /* Абсолютное позиционирование */
    right: 0;
    top: 0; /* Положение элемента */
    width: 40px; /* Ширина градиента*/
    height: 100%; /* Высота родителя */
    /* Градиент */
    background: -moz-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
    background: -webkit-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
    background: -o-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
    background: -ms-linear-gradient(left, rgba(255,204,0, 0.2), #fc0 100%);
    background: linear-gradient(to right, rgba(255,204,0, 0.2), #fc0 100%);
}

.line-clamp3 {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}

.line-clamp3:hover {
    /*background: #f0f0f0; /* Цвет фона */
    white-space: normal; /* Обычный перенос текста */
}

/*-----------------select2 ------------------------------*/
.select2-container--default .select2-selection--single {
    border: none;
    background: inherit;
    color: #22405a;
}

.select2-selection__arrow {
    display:none;
}

.select2-selection__rendered {
    font-size: inherit;
    color: #22405a;
}

.select2-results__option {
    font-size: 15px;
    color:#22405a;
    margin-left: -2px;
    border:inherit;
}

.select2-container--open .select2-dropdown {
    left: -2px;
    border: 2px solid #95acbc;
    border-top:none;
}

.select2-results__message {
    font-size: 15px;
    color:#22405a;
}

 .select2-search__field {
    font-size: 15px;
    color:#22405a;
}

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #22405a;
    line-height: 36px;
}



.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 2px;
    padding-right: 22px;
}
/*------------end-Select2--------------------*/
.form-group {
    margin-bottom: 0;
}

.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}

.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}

.t-buttons:hover{
background-color :#FFF !important ;
}

/*----------------Всплывающие подсказки------------{{{*/

.fa-1_3x {font-size: 1.3em;}
.real-hint {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    display: none;
    padding: 5px 10px;
    position: absolute;
    width: 250px;
    z-index: 99;
}

    .real-hint .hint-caption {
        font-weight: bold;
        text-transform: uppercase;
    }

    .real-hint .prm-cross {
        background: url(../images/cross.jpg) no-repeat scroll right top rgba(0, 0, 0, 0);
        cursor: pointer;
        float: right;
        height: 16px;
        margin-top: 3px;
        padding-left: 15px;
        right: 10px;
        width: 16px;
    }

.real-show-hint {
    cursor: pointer;
    /*border-bottom: dashed 1px;
    color: #8c0000;*/
}
/*--------------end--Всплывающие подсказки------------}}}*/