@{
    ViewBag.Title = "Задание";
}
<h3>@ViewBag.Title</h3>

<h3>Тестовое задание ASP.NET MVC + SQL</h3>
<h4>
    По следующей структуре создайте БД:
</h4>

<img src="~/Content/images/Структура.png" height="255" alt="Structura">

<p>
    Заполните таблицы тестовыми данными.
</p>

<p>
    БД реализовать на MS SQL Server Express(желательно 2008).
</p>
<h4>Пользовательский интерфейс</h4>

<p>
    В рамках технологий ASP.NET MVC реализуйте пользовательский интерфейс, который позволяет просматривать, добавлять, изменять и удалять записи таблицы “Сотрудник”.
</p>
<h4>Дополнительные требования</h4>
<p> Для поля “Пол” ввод ограничен двумя значениями “муж” и “жен”.</p>
<p> Для поля “Телефон” введенное значение должно проверяться на соответствие шаблону (xxx)xxx-xx-xx, где x – цифра от 0 до 9.</p>
<p>
    Инструменты – Visual Studio 2008-2015, MS SQL Server любой редакции от 2005.
</p>

