<script src="~/Scripts/Share.js"></script>
<script src="~/Scripts/site.js"></script>


@{
    ViewData["Title"] = "Сотрудник";
}
<div>
    <div id="loadPict" class="col-md-offset-4">
        <img style="position:page" src="~/Content/images/294.gif" />
    </div>
</div>
<div class="wrapper">
    <h3 class="head-title">Сотрудники</h3>
    <aside class="left-sidebar" id="left-sidebar">
        <div class="top">
            <div class="data">
                <fieldset class="employ">
                    @Html.ValidationSummary()
                    <div class="dib item-w100 m-b10">
                        <button type="button" class="btn btn-success" data-bind="click: saveEmpl">Сохранить</button>
                    </div>
                    <div class="item-fieldset">
                        <span class="f-left t15 col95acbc f16 w110px">ФИО</span>
                        <input type="text" id="Name" class="f16 col22405a w260px" data-bind="value: ObEmpl().FullName">
                    </div>
                    <div class="item-fieldset">
                        <span class="f-left t15 col95acbc f16 w110px">Отдел</span>
                        <div>
                            <select class="w260px round form-select f16 m-b5 " data-bind="options: depDrop,  optionsText: 'DepartmentName', optionsValue: 'DepartmentId', value: ObEmpl().DepartmentName"></select>
                        </div>
                    </div>
                    <div class="item-fieldset">
                        <span class="f-left t15 col95acbc f16 w110px">Пол</span>
                        <div>
                            <select class="w70px round form-select f16 m-b5 " data-bind="options: sexDrop, optionsText: 'name', optionsValue: 'id', value: ObEmpl().Sex">
                            </select>
                        </div>
                    </div>
                    <div class="item-fieldset">
                        <span class="f-left t15 col95acbc f16 w110px">Дата рожд.</span>
                        <input type="text" id="date-range13-1" class="f16 col22405a w260px" data-bind="value: ObEmpl().BDate" placeholder="Нет данных">
                    </div>
                    <div class="item-fieldset">
                        <span class="f-left t15 col95acbc f16 w110px">Город</span>
                        <input   type="text" id="City" class="f16 col22405a w260px ui-autocomplete-input" role="textbox" autocomplete="off" placeholder="Нет данных" data-bind="value: ObEmpl().City">
                    </div>
                    <div class="item-fieldset">
                        <span class="f-left t15 col95acbc f16 w110px">Адрес</span>
                        <input type="text" id="Adress" class="f16 col22405a w260px" data-bind="value: ObEmpl().Adress" placeholder="Нет данных">
                    </div>
                    <div class="item-fieldset">
                        <span class="f-left t15 col95acbc f16 w110px">Телефон</span>
                        <input type="text" id="Phone" class="f16 col22405a w260px" data-bind="value: ObEmpl().Phone" placeholder="(___) ___-__-__">
                    </div>
                </fieldset>
            </div>
        </div>
    </aside>

    <div class="middle">
        <div class="container-new properties">
            <main class="content" id="ZoneA">
                <div class="buttons pr20 pl20 m-b10">
                    <button type="button" class="btn btn-primary" data-bind="click: addEmployee">Новый</button>
                    <button type="button" class="btn btn-danger">Удалить</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th><p>ФИО</p></th>
                                <th><p>Отдел</p></th>
                                <th><p>Город</p></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: employesList">
                            <tr data-bind="css: { 'orange': EmployeeId === $root.currentEmplId() }, click: $root.selEmpl.bind($data, EmployeeId), event: { dblclick: $root.readElemEm }">
                                <td data-bind="text: FullName"></td>
                                <td data-bind="text: DepartmentName"></td>
                                <td data-bind="text: City"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#date-range13-1').dateRangePicker(
            {
                autoClose: true,
                singleDate: true,
                singleMonth: true,
                showShortcuts: false,
                format: 'YYYY-MM-DD',
                autoClose: false,
                time: {
                    enabled: false
                },
                defaultTime: moment().startOf('day').toDate(),
            }).bind('datepicker-change', function (event, obj) {
                /* This event will be triggered when second date is selected */
                //console.log('change', obj);
                viewModelEmployes.ObEmpl().BDate(obj.value);
                // obj will be something like this:
                // {
                // 		date1: (Date object of the earlier date),
                // 		date2: (Date object of the later date),
                //	 	value: "2013-06-05 to 2013-06-07"
                // }
            });
    })

     var availableTags = '@ViewBag.CityList';
    availableTagsCity = availableTags.toString().split(",");
    //$("#City").autocomplete({ source: availableTags });
</script>
